
/* Header */

header{
    height: 60px;
}

.logo{
    text-decoration: none;
}

.linkHeader{
    text-decoration: none;
    color: #000;
    background-color: #FFF;
    border-radius: 10px;
    padding: 5px;
}